@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  padding: 28px 0 10px 6px;
  margin: 0;
}
@media screen and (min-width: 992px) {
  h2 {
    padding: 28px 0 10px 22px;
  }
}

nav {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
}

h4, p {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes partAppear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes reverse-color {
  0% {
    opacity: 1;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }
  20% {
    opacity: 0.8;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }
  50% {
    opacity: 0.7;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }
  100% {
    opacity: 0.2;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: relative;
  margin: 0px;
  font-family: "shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2470588235);
  padding: 3px;
}

.loader {
  padding-top: 50px;
  display: grid;
  place-items: start center;
  position: fixed;
  background-color: black;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: desappear 2s 3s forwards;
  animation-delay: 1s;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 400px;
  width: 400px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 3s ease-in-out;
  animation-iteration-count: 3;
}
.loader h2, .loader h3, .loader p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  line-height: 80px;
}
@media screen and (min-width: 1024px) {
  .loader h2, .loader h3, .loader p {
    font-size: 35px;
  }
}
.loader p {
  padding: 90px;
}
@media screen and (min-width: 1024px) {
  .loader p {
    padding-top: 110px;
  }
}
.loader .ustensil {
  display: grid;
  grid-template-rows: 100px 1fr;
  justify-content: center;
  height: 100px;
  padding-top: 150px;
}
.loader i {
  display: grid;
  justify-content: center;
  font-size: 39px;
  padding: 150px;
  color: #FF79DA;
}

@keyframes desappear {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
main {
  font-family: "Roboto", sans-serif;
}
main .location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 15px;
  gap: 17px;
}
main .location p {
  font-weight: 500;
  font-size: 16px;
}

.menus {
  width: 100%;
  background: #D2D2D2;
  font-family: "Roboto", sans-serif;
  padding: 0 30px 0 30px;
}
@media screen and (min-width: 1024px) {
  .menus {
    padding: 20px 50px;
  }
}
.menus .menus_restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  min-width: 20rem;
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .menus .menus_restaurants {
    flex-direction: row;
  }
}
.menus .menus_restaurants .newIcon {
  position: relative;
}
.menus .menus_restaurants .newIcon::before {
  content: "nouveau";
  position: absolute;
  height: 29px;
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  right: 1rem;
  top: 1rem;
}
.menus .card {
  background: #FFFFFF;
  border-radius: 15px;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .menus .card {
    width: 23%;
  }
}
.menus .card .card_img1 {
  background-image: url("./public/ressources/images/restaurants/Restaurant1.jpg");
  background-size: cover;
  height: 10rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_img2 {
  background-image: url("./public/ressources/images/restaurants/Restaurant2.jpg");
  background-size: cover;
  height: 10rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_img3 {
  background-image: url("./public/ressources/images/restaurants/Restaurant3.jpg");
  background-size: cover;
  height: 10rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_img4 {
  background-image: url("./public/ressources/images/restaurants/Restaurant4.jpg");
  background-size: cover;
  height: 10rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_text {
  margin: 8px;
  position: relative;
}
.menus .card .card_text h3, .menus .card .card_text p {
  margin: 0;
  padding-top: 0.5rem;
}
.menus .card .card_text p {
  font-weight: 300;
  font-size: 17px;
}
.menus .card .card_text i {
  font-size: 30px;
  position: absolute;
  right: 7px;
  top: 6px;
}
.menus .card .fill {
  cursor: pointer;
  animation: reverse-color 1s;
}
.menus .card .fill:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  animation: fill 3s ease-in-out;
}

.explorer {
  text-align: center;
  background-color: #D2D2D2;
  padding-bottom: 57px;
}
.explorer h2 {
  font-size: 2rem;
}
.explorer p {
  font-weight: 300;
  font-size: 18px;
}
.explorer button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 17px 30px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 27px;
  transition: all 600ms;
}
.explorer button:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.7;
}

.choice {
  padding: 105px 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .choice {
    padding: 105px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .choice .choice_lists {
    display: flex;
    flex-direction: row;
  }
}
.choice _title {
  padding-left: 20px;
}
.choice ol {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  list-style-type: none;
  counter-reset: compteListe;
}
.choice ol li {
  background-color: #f6f6f6;
  padding: 28px 30px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2470588235);
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .choice ol li {
    width: 30%;
  }
}
.choice ol li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  color: #FFFFFF;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -11px;
}
@media screen and (min-width: 1024px) {
  .choice ol li::before {
    top: 28px;
  }
}
.choice ol li i.fa-solid {
  margin-right: 17px;
}
.choice ol li i.fa-solid:hover {
  color: #9356DC;
}

.choice_lists :hover {
  transform: scale(1.02);
  background-color: #F5EDFF;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 2rem 2rem;
}
footer ul {
  list-style: none;
  padding-left: 2rem;
}
footer ul li {
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 500;
}
footer .footer_logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media screen and (min-width: 1024px) {
  footer .footer_logo {
    order: 2;
  }
}
footer i {
  padding-right: 11px;
}
footer .footer_lists {
  padding: 1rem 0rem;
}
@media screen and (min-width: 1024px) {
  footer .footer_lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    order: 1;
    padding-right: 120px;
  }
}

#pages_restaurants header::before {
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-weight: 900;
  color: #353535;
  position: absolute;
  left: 23px;
  top: 50%;
  font-size: 20px;
}
#pages_restaurants .band img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-position: center;
}
#pages_restaurants .resto {
  margin-top: -30px;
}
@media screen and (min-width: 1024px) {
  #pages_restaurants .resto {
    align-content: center;
    margin: -40px 193px 0px 193px;
  }
}
#pages_restaurants .resto h2 {
  font-family: "shrikhand", sans-serif;
  padding: 30px 15px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  background: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  #pages_restaurants .resto h2 {
    display: flex;
    justify-content: center;
  }
}
#pages_restaurants .resto h2 i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}
#pages_restaurants .resto .fill {
  cursor: pointer;
  animation: reverse-color 2s;
}
#pages_restaurants .resto .heart .fill:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  animation: fill 3s ease-in-out;
}
#pages_restaurants .menus_resto {
  padding: 16px;
  background: #F6F6F6;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  #pages_restaurants .menus_resto {
    padding: 16px 170px;
  }
}
#pages_restaurants .menus_resto h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 15px;
}
#pages_restaurants .menus_resto h3::after {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  top: 1.5rem;
  left: 0rem;
}
#pages_restaurants .menus_resto .menus_part {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  animation-fill-mode: both;
  animation: partAppear 1s;
  overflow: hidden;
}
#pages_restaurants .menus_resto .menus_part:nth-child(2) {
  animation-delay: 200ms;
}
#pages_restaurants .menus_resto .menus_part:nth-child(3) {
  animation-delay: 300ms;
}
#pages_restaurants .menus_resto .menus_part:nth-child(4) {
  animation-delay: 400ms;
}
#pages_restaurants .menus_resto .menus_part .menu_details {
  display: flex;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
}
#pages_restaurants .menus_resto .menus_part .menu_details .menu_details_informations {
  padding: 16px 10px;
  flex: 0 0 80%;
  transition: flex-basis 1s linear;
  overflow: hidden;
}
#pages_restaurants .menus_resto .menus_part .menu_details .menu_details_informations h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#pages_restaurants .menus_resto .menus_part .menu_details .menu_details_informations p {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#pages_restaurants .menus_resto .menus_part .menu_details .price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  font-weight: bold;
  flex: 0 0 20%;
  padding-bottom: 16px;
  padding-right: 10px;
}
#pages_restaurants .menus_resto .menus_part .menu_details .menu_details_hover {
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  flex: 0 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover {
  cursor: pointer;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover .menu_details_informations {
  flex: 0 0 62%;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover .fa-check {
  animation: checkSpin 600ms ease-in-out;
}
@keyframes checkSpin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#pages_restaurants .menus_resto .menus_part i {
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #99E2D0;
}

.command {
  display: grid;
  justify-items: center;
  justify-content: center;
  background: #F6F6F6;
}
.command button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 17px 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 40px 0px;
  transition: all 600ms;
}
.command button:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.7;
}

/*# sourceMappingURL=index.css.map */
