@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  padding-top: 28px;
  padding-bottom: 10px;
  margin: 0;
}

nav {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
}

h4, p {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  margin: Opx;
  font-family: "shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2470588235);
  padding: 3px;
}

main {
  font-family: "Roboto", sans-serif;
}
main .location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 15px;
  gap: 17px;
}
main .location p {
  font-weight: 500;
  font-size: 16px;
}

.menus {
  height: 77rem;
  background: #D2D2D2;
  font-family: "Roboto", sans-serif;
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 992px) {
  .menus {
    height: 430px;
  }
}
.menus .menus_restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 26px;
  min-width: 20rem;
}
@media screen and (min-width: 992px) {
  .menus .menus_restaurants {
    flex-direction: row;
  }
}
.menus .menus_restaurants .newIcon {
  position: relative;
}
.menus .menus_restaurants .newIcon::before {
  content: "nouveau";
  position: absolute;
  height: 29px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  right: 1rem;
  top: 1rem;
}
.menus .card {
  height: 251px;
  flex-grow: 1;
  background: #FFFFFF;
  border-radius: 15px;
}
.menus .card .card_img1 {
  background-image: url("./public/ressources/images/restaurants/Restaurant1.jpg");
  background-size: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_img2 {
  background-image: url("./public/ressources/images/restaurants/Restaurant2.jpg");
  background-size: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_img3 {
  background-image: url("./public/ressources/images/restaurants/Restaurant3.jpg");
  background-size: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_img4 {
  background-image: url("./public/ressources/images/restaurants/Restaurant4.jpg");
  background-size: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.menus .card .card_text {
  margin: 0.5rem;
  position: relative;
}
.menus .card .card_text h3, .menus .card .card_text p {
  margin: 0;
  padding-top: 0.5rem;
}
.menus .card .card_text p {
  font-weight: 300;
  font-size: 17px;
}
.menus .card .card_text i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}
.menus .card .fas {
  opacity: 0;
}
.menus .card .fas:hover {
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.explorer {
  text-align: center;
  background-color: #D2D2D2;
  padding-bottom: 57px;
}
.explorer h2 {
  font-size: 2rem;
}
.explorer p {
  font-weight: 300;
  font-size: 18px;
}
.explorer button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 17px 30px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 27px;
  transition: 0.5s;
}

.choice {
  padding: 105px 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .choice .choice_lists {
    display: flex;
    flex-direction: row;
  }
}
.choice _title {
  padding-left: 20px;
}
.choice ol {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: column;
  list-style-type: none;
  counter-reset: compteListe;
}
.choice ol li {
  background-color: #f6f6f6;
  padding: 28px 30px;
  border-radius: 20px;
  position: relative;
}
@incl @media screen and (min-width: 990px) {
  .choice ol li {
    width: 30%;
  }
}
.choice ol li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  color: #FFFFFF;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -11px;
}
@media screen and (min-width: 990px) {
  .choice ol li::before {
    top: 28px;
  }
}
.choice ol li i.fa-solid {
  margin-right: 17px;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 2rem 2rem;
}
footer ul {
  list-style: none;
  padding-left: 2rem;
}
footer ul li {
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 500;
}
footer .footer_logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  footer .footer_logo {
    order: 2;
  }
}
footer i {
  padding-right: 11px;
}
footer .footer_lists {
  padding: 1rem 0rem;
}
@media screen and (min-width: 992px) {
  footer .footer_lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    order: 1;
    padding-right: 75px;
  }
}

#pages_restaurants header::before {
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-weight: 900;
  color: #353535;
  position: absolute;
  left: 23px;
  top: 50%;
  font-size: 20px;
}
#pages_restaurants .band img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
#pages_restaurants .resto {
  margin-top: -30px;
}
@media screen and (min-width: 992px) {
  #pages_restaurants .resto {
    align-content: center;
    margin: -40px 193px 0px 193px;
  }
}
#pages_restaurants .resto h2 {
  font-family: "shrikhand", sans-serif;
  padding: 30px 15px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  background: #F6F6F6;
}
@media screen and (min-width: 992px) {
  #pages_restaurants .resto h2 {
    display: flex;
    justify-content: center;
  }
}
#pages_restaurants .resto h2 i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
#pages_restaurants .resto h2 .fas {
  opacity: 0;
}
#pages_restaurants .resto h2 .fas:hover {
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
}
#pages_restaurants .menus_resto {
  padding: 16px;
  background: #F6F6F6;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
@media screen and (min-width: 992px) {
  #pages_restaurants .menus_resto {
    padding: 16px 211px;
  }
}
#pages_restaurants .menus_resto h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 15px;
}
#pages_restaurants .menus_resto h3::after {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  top: 1.5rem;
  left: 0rem;
}
#pages_restaurants .menus_resto .menus_part {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
#pages_restaurants .menus_resto .menus_part .menu_details {
  display: flex;
  overflow: hidden;
  margin: 6px;
}
#pages_restaurants .menus_resto .menus_part .menu_details .menu_details_informations {
  padding: 16px 10px;
  flex: 0 0 90%;
}
#pages_restaurants .menus_resto .menus_part .menu_details .menu_details_informations p {
  font-weight: 300;
  font-size: 15px;
}
#pages_restaurants .menus_resto .menus_part .menu_details .price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  flex: 0 0 10%;
  padding-bottom: 16px;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover {
  cursor: pointer;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover .menu_details_hover {
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  flex: 0 0 15%;
  display: grid;
  place-items: center;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover:hover .menu_details_informations {
  flex: 0 0 62%;
}
#pages_restaurants .menus_resto .menus_part .menu_details:hover i {
  background: #FFFFFF;
  width: 20px;
  border-radius: 50%;
}
#pages_restaurants .command {
  display: grid;
  justify-items: center;
  justify-content: center;
}
#pages_restaurants .command button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 17px 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 40px 0px;
}/*# sourceMappingURL=style.css.map */