@use "../utils/_variables";

.choice{ 
    padding: 105px 24px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
        
        padding: 105px 50px;
        
      }
    
    .choice_lists{
    @media screen and (min-width: 990px) {
      display: flex;
      flex-direction: row;       
        
      }
    }

    
    & _title{
        padding-left: 20px;
        
    }

   & ol{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: column;
    list-style-type: none;
    counter-reset: compteListe;

    & li{
    background-color: #f6f6f6;
    padding: 28px 30px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 3px 4px #0000003F;
    white-space: nowrap;

    
    @media screen and (min-width: 990px) {
        width: 30%;       
          
        }

    
    &::before{
        counter-increment: compteListe 1; 
        content: counter(compteListe) " ";
        color: #FFFFFF;
        background-color: #9356DC;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -11px;

        

        @media screen and (min-width: 990px) {
            top: 28px;      
              
            }
    
        
        
    }

    i.fa-solid{
        margin-right: 17px;

    }

    i.fa-store{
        color: variables.$purple;

    }
    }
     
  }
}

.choice_lists :hover{
    transform: scale(1.02);
    background-color:lighten(#9356DC, 30%);
    
}