footer{
    background-color: #353535;
    color: #FFFFFF;
    padding: 0 2rem;

    h2{
        font-family: "Shrikhand" , sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
    }

    i{
        padding-right: 11px;
    }
}