footer{
    background-color: #353535;
    color: #FFFFFF;
    padding: 2rem 2rem;
    

          
    ul{
        list-style: none;
        padding-left: 2rem;

    li{
            padding-bottom: 1rem;
            font-size: 16px;
            font-weight: 500;

        }
    }

    .footer_logo{
        font-family: "Shrikhand" , sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;

        @media screen and (min-width: 992px) {
            order: 2;
            
            
          }

              
    }

    i{
        padding-right: 11px;
    }

    .footer_lists{
        padding: 1rem 0rem;
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 40px;
            order: 1;
            padding-right: 75px;
            
            
          }
       
    }
}
