@use "../utils/_animations.scss";
@use "../utils/_variables.scss";

.menus{
    width: 100%;
    background: #D2D2D2;
    font-family: "Roboto", sans-serif;
    padding: 0 30px 0 30px;

    @media screen and (min-width: 1000px) {
        height: 440px;
        padding: 40px 100px;
        
      }
   
    .menus_restaurants{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        gap: 26px;
        min-width: 20rem;
      @media screen and (min-width: 1024px) {
        flex-direction: row;
        
        
      }

            .newIcon{
               position: relative;

            }
            

            .newIcon::before{
                   content: "nouveau";
                   position: absolute;
                   height: 29px;
                   width: 23%;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   color: variables.$green;
                   background: #99E2D0;
                   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
                   right: 1rem;
                   top: 1rem;

                   
            }
        }
   
           .card{
              height: 251px;
              width: 100%;
              background: #FFFFFF;
              border-radius: 15px;
               flex-grow: 1;
               @media screen and (min-width: 1024px) {
                width: 22%;
                
              }
              
              & .card_img1{
                background-image: url("./public/ressources/images/restaurants/Restaurant1.jpg");
                background-size: cover;
                height: 70%;
                width: 100%;
                border-radius: 15px 15px 0 0;

              }

              & .card_img2{
                background-image: url("./public/ressources/images/restaurants/Restaurant2.jpg");
                background-size: cover;
                height: 70%;
                width: 100%;
                border-radius: 15px 15px 0 0;

              }
              
              & .card_img3{
                background-image: url("./public/ressources/images/restaurants/Restaurant3.jpg");
                background-size: cover;
                height: 70%;
                width: 100%;
                border-radius: 15px 15px 0 0;

              }

              & .card_img4{
                background-image: url("./public/ressources/images/restaurants/Restaurant4.jpg");
                background-size: cover;
                height: 70%;
                width: 100%;
                border-radius: 15px 15px 0 0;

              }

              & .card_text{
                margin: 8px;
                position: relative;

                h3,p{
                  margin: 0;
                  padding-top: 0.5rem;

                }

                p{
                    font-weight: 300;
                    font-size: 17px;
                    
                }

                i{
                    font-size: 2rem;
                    position: absolute;
                    right: 1.5rem;
                    top: 0.5rem;
                }
              }
             

              .fill{                
                animation: reverse-color 2s;
                
               }
              
              .fill:hover{
                cursor: pointer;
                color: transparent;
                background: linear-gradient(to top,rgba(147, 86, 220, 1),rgba(255, 121, 218, 1));
                background-clip: text;
                font-weight: 900;
                animation:fill 3s ease-in-out;

              }

              }

                
            }
        
      
    

